@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Delete Album");

    var cid = Request.QueryString["cid"];
    var thebutton = Request.Form["theButton"];

    if(string.IsNullOrEmpty(cid))
    {
        Response.Redirect("Exercise04_B.cshtml?");
    }

    var db = Database.Open("CHINOOK");

    string findSortQuery = "SELECT AlbumId, Title FROM Albums WHERE AlbumId = @0";
    string deleteQuery = "DELETE Albums WHERE AlbumId = @0";

    var results = db.Query(findSortQuery, cid);

    if(results.Count() == 0)
    {
        <p style="color:firebrick">There was no record returned from the Data Base @cid</p>
        Response.Redirect("Exercise04_B.cshtml");
    }
    else
    {
        <p style="color:darkgreen">There was @results.Count() record/s returned from the Data Base</p>
    }
}

@section banner {
    <h1>@Page.Title</h1>
}

@foreach(var info in results) 
{
<div class="offset-1">
    <p class="font-weight-bold">Are you sure you want to delete album "@info.Title"?</p>
</div>
}

@if(IsPost)
{
    thebutton = Request.Form["theButton"];

    if(thebutton.Equals("cancel"))
    {
        Response.Redirect("Exercise04_A.cshtml");
    }
    else if (thebutton.Equals("confirm"))
    {
        db.Execute(deleteQuery, cid);
        <p style="color:firebrick">Album Deleted!</p>
    }
}
else
{

}
<form id="theform" method="post">
    <div class="row">
        <div class="col-12">
            <div class="offset-1">
                <button type="submit" id="theButton" name="theButton" value="confirm" class="btn btn-danger">Delete</button>&nbsp;&nbsp;
                <button type="submit" id="theButton" name="theButton" value="cancel" class="btn btn-light">Cancel</button>
            </div>
        </div>
    </div>
</form>


